:root {
    --bg-image3: url('../assets/bg3.png');
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto Condensed', sans-serif;
    --red: #d40000;
}

.hero-carrinho {
    height: 100vh;
    background-image: linear-gradient(to right,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.4)
    ), var(--bg-image3);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.section-carrinho {
    background: rgba(0, 0, 0, 0.65);
    padding: 40px;
    width: 700px;
    margin: auto;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, .05);
    box-shadow: 0 0 30px rgba(0,0,0,.7);
}

.titulo-carrinho {
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
    font-family: var(--font-title);
}

.item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a0a0a;
    padding: 18px;
    border-radius: 14px;
    margin-bottom: 18px;
    border: 1px solid rgba(255,255,255,0.08);
    transition: .25s ease-in-out;
}

.item-card:hover {
    transform: translateX(6px);
    border-color: var(--red);
}

.carrinho-vazio {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.item-info h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--red);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.item-info p {
    color: #ddd;
    margin: 2px 0;
    font-size: 15px;
}

.subtotal {
    margin-top: 10px;
    font-size: 18px;
    color: var(--red);
    font-weight: bold;
}

.img_carrinho {
    margin-right: 200px;
}

.btn-remover {
    background: var(--red);
    border: none;
    font-size: 18px;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

.btn-remover:hover {
    opacity: .7;
    transform: scale(1.05);
}

.total {
    font-size: 26px;
    font-weight: 800;
    color: var(--red);
    text-align: center;
    margin: 25px 0 35px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.vermelho { background: var(--red); color: #fff; }
.vermelho:hover {
    background-color: rgb(110, 9, 9);
}
.cinza { background: #5a5a5a; color: white; }
.preto { background: #5a5a5a; color: white; }

.cinza:hover,
.preto:hover {
    background-color: #303030
}

@media (max-width: 750px) {
    .section-carrinho {
        width: 95%;
        padding: 25px;
    }

    .item-card {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .btn-remover {
        width: 60px;
    }
}
