:root {
    --bg-image3: url('../assets/bg3.png');
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto Condensed', sans-serif;
}

.hero-home {
    height: 100vh;
    min-height: 60vh;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), var(--bg-image3);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.hero-home h1 {
    font-family: var(--font-title);
    font-size: 34px;
    margin-bottom: 50px;
    color: #fff;
}

.hero-home p {
    font-size: 16px;
    max-width: 600px;
    color: rgba(255,255,255,0.92);
    line-height: 1.8;
}

.hero-home p::first-letter {
    font-weight: 600;
}
