:root {
    --bg-login: url('../assets/bg3.png');
    --red: #d40000;
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto Condensed', sans-serif;
}

.hero-editar {
    height: 100vh;
    background-image: linear-gradient(to right,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.4)
    ), var(--bg-login);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.editar-box {
    background: rgba(0, 0, 0, 0.75);
    padding: 55px 48px;
    border-radius: 15px;
    width: 400px;
    border: 1px solid rgba(255,255,255,0.12);
    box-shadow: 0 0 35px rgba(0,0,0,0.6);
}

.editar-box h2 {
    font-family: var(--font-title);
    margin-bottom: 20px;
    font-size: 26px;
}

.editar-box input {
    width: 100%;
    padding: 15px;
    margin-top: 16px;
    background: #111;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.editar-box button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background: var(--red);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.editar-box button:hover {
    background-color: rgb(110, 9, 9);
}