:root {
    --bg-pedido: url('../assets/bg2.png');
    --red: #d40000;
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto Condensed', sans-serif;
}

.hero-finalizado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-pedido) no-repeat center/cover;
    padding: 20px;
    background-size: cover;
}

.card-finalizado {
    background: rgba(0, 0, 0, 0.75);
    width: 450px;
    max-width: 95%;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.15);
    animation: fadeIn .4s ease-in-out;
}

.icon-sucesso {
    font-size: 60px;
    color: #28a745;
    margin-bottom: 15px;
}


.card-finalizado h2 {
    font-family: var(--font-title);
    margin-bottom: 10px;
}

.card-finalizado p {
    font-family: var(--font-body);
    margin: 6px 0;
}

.info-pedido {
    margin-top: 50px;
    background: #595959;
    padding: 12px;
    border-radius: 10px;
}


.botoes-acoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes-acoes button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background: var(--red);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}



.botoes-acoes button:first-child {
    background: var(--red);
    color: #fff;
}

.botoes-acoes .outline {
    background: #fff;
    color: var(--red);
}

.botoes-acoes button:hover {
    background-color: rgb(110, 9, 9);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}
