:root {
    --bg-image: url('../assets/teste2.png');
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto Condensed', sans-serif;
    --red: #d40000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background: #0b0b0b;
    color: #fff;
    overflow-x: hidden;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {
    font-family: var(--font-title);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 3px;
}

.nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}

.nav a:hover {
    color: var(--red);
}

/* HERO */
.hero {
    height: 100vh;
    background-image: linear-gradient(to right,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.4)
    ), 
    var(--bg-image);

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

/* LOGIN */
.login-box {
    background: rgba(0,0,0,0.75);
    padding: 40px 35px;
    border-radius: 12px;
    width: 330px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background: #111;
    border: 1px solid #333;
    border-radius: 6px;
    color: white;
}

.login-box button {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    background: var(--red);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: rgb(110, 9, 9);
}

.login-box p {
    margin-top: 9px;
    font-size: 12.5px;
    text-decoration: double;
    font-family: var(--font-title);
    font-weight: bold;
}

.login-box p a {
    text-decoration: none;
    color: rgb(55, 55, 255);
}

.login-box p a:hover {
    text-decoration: none;
    color: #d40000;
}

/* FOOTER */
.footer {
    background: #000;
    padding: 50px 20px;
    text-align: center;
}
