:root {
    --bg-image3: url('../assets/bg3.png');
    --red: #d40000;
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto Condensed', sans-serif;
}

.hero-gerenciar {
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), var(--bg-image3);
    padding-bottom: 80px;
    background-size: 100% auto;
    background-repeat:repeat-y;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 180px;
}

table {
    width: max-content;
    border-collapse: separate;
    border-spacing: 0;
    background: rgba(0,0,0,0.75);
    border-radius: 15px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);

    /* BORDA EXTERNA */
    border: 1px solid rgba(255,255,255,0.12);
}

th {
    padding: 14px 18px;
    font-size: 17px;
    background: rgba(255,255,255,0.06);
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.12);
    border-right: 1px solid rgba(255,255,255,0.12);
}

th:last-child {
    border-right: none;
}

td {
    padding: 14px 18px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255,255,255,0.12);
    border-right: 1px solid rgba(255,255,255,0.12);
}

td:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background: rgba(255,255,255,0.05);
}

.table-wrapper td,
.table-wrapper th {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-wrapper td:hover {
    white-space: normal;
    overflow: visible;
}

.bottom-column {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 40px;
}

.gerenciar-box {
    background: rgba(0, 0, 0, 0.75);
    padding: 55px 48px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.12);
    box-shadow: 0 0 35px rgba(0,0,0,0.6);
}

.espaco { padding-top: 16px; }

.gerenciar-box input {
    width: 100%;
    padding: 15px;
    margin-top: 16px;
    background: #111;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.gerenciar-box button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background: var(--red);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
}

.gerenciar-box button:hover {
    background-color: rgb(110, 9, 9);
}

.gerenciar-box p {
    margin-top: 12px;
    font-size: 15px;
    font-family: var(--font-title);
    font-weight: bold;
}

.alerta-atualiza {
    text-align: center;
}

.delete-box {
    border: 1px solid #ff4444;
    margin-left: 60px;
    margin-right: 60px;
}

.delete-box h1 {
    color: #ff4444;
}

.delete-box button {
    background: #d40000;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s;
}

.delete-box button:hover {
    background-color: rgb(110, 9, 9);
}

.alerta-atualiza {
    text-align: center;
}

.alerta-delete {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ffbbbb;
    text-align: center;
}

.espaco2 { padding-top: 120px; }

.estoque-box {
    border: 1px solid rgba(255,255,255,0.12);
}

.estoque-box select {
    width: 100%;
    padding: 15px;
    margin-top: 16px;
    background: #111;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

.estoque-box button {
    background: #d40000;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s;
}

.estoque-box button:hover {
    background-color: rgb(110, 9, 9);
}

.gerenciar-box,
.delete-box,
.estoque-box {
    width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}