/* ----------------------------------- */
/* ROOT / VARIÁVEIS                     */
/* ----------------------------------- */
:root {
    --font-title: 'Poppins', sans-serif;
    --font-body: 'Roboto Condensed', sans-serif;

    --red: #d40000;
    --text-light: #fff;
    --bg-dark: #0b0b0b;

    /* você decide se esse background será global mesmo */
    --bg-hero: url('../assets/bg1.png');
}

/* ----------------------------------- */
/* RESET                                */
/* ----------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background: var(--bg-dark);
    color: var(--text-light);
    overflow-x: hidden;
}

/* ----------------------------------- */
/* HEADER                               */
/* ----------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logo {
    display: flex;
    align-items: center;
    height: 80px;
    cursor: pointer;
}

.logo-img {
    height: 90px;
    width: 150px;
}

/* ----------------------------------- */
/* NAV                                  */
/* ----------------------------------- */
.nav a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    transition: 0.3s;
}

.nav a:hover {
    color: var(--red);
}

.nav span {
    color: #fff;
    font-size: 19px;
    font-weight: 520;
}

/* ----------------------------------- */
/* FOOTER                               */
/* ----------------------------------- */
.footer {
    background: #000;
    padding: 70px 28px;
    text-align: center;
    font-size: 18px;
}
